# Core framework
fastapi
uvicorn[standard]

# Env
python-dotenv

# Database
sqlalchemy
psycopg2-binary

# Auth / security
python-jose
passlib[bcrypt]
cryptography
clerk-backend-api

# HTTP / async
httpx
requests

# Forms
python-multipart
